# Godot-specific ignores
"Single In Your Area"/.import/
"Single In Your Area"/export.cfg
"Single In Your Area"/export_presets.cfg

# Mono-specific ignores
"Single In Your Area"/.mono/

# System/tool-specific ignores
"Single In Your Area"/.directory
"Single In Your Area"/*~
